myhostname = mail.abc.com


relayhost = [smtp.gmail.com]:587
smtp_use_tls = yes
#smtp_use_tls = no

smtp_sasl_auth_enable = yes
#smtp_sasl_auth_enable = no

smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_tls_CAfile = /etc/ssl/certs/ca-bundle.crt
smtp_sasl_security_options = noanonymous
smtp_sasl_tls_security_options = noanonymous

